.title {
	padding: 8px;
	margin-top: 0;
	border-radius: 15px;
	color: rgb(255, 149, 43);
	text-shadow: 4px 4px 4px rgb(0, 0, 0);
	font-size: 50px;
	font-weight: 900;
	text-align: center;
	background-image: repeating-linear-gradient(-45deg,
			rgb(6, 220, 244),
			rgb(4, 148, 210) 15px,
			blue 30px);
}

h1 {
	text-shadow: 2px 2px 4px rgb(0, 0, 0);
	animation: shadow-blink 0.7s infinite alternate;
}

@keyframes shadow-blink {
	from {
		text-shadow: 4px 4px 6px rgb(255, 13, 0);
	}

	to {
		text-shadow: 2px 2px 4px rgb(246, 255, 0);
	}
}